@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
    max-width:100% ;
    padding: 1rem;
}
body{
    font-size: 1.4rem;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    font: 1rem;
    width: 100%;
   
    background-image: linear-gradient(whitesmoke,steelblue);
    /* z-index: -1;  */
}
header{
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: slategrey;
    display: flex;
    flex-direction:column;
   
    color:black;
    text-align: center; 
    font-size: 1.5rem;
    
}
section{
    display: flex;
    flex-flow: row;
}

nav ul{
    background-color: rgba(247, 239, 231, 0.648);
    justify-content: space-evenly;
    display:inline-block;
    list-style-type: none;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 0.5rem;
   width: 40%;
   height: 100vh;
   flex-direction:row;
}
nav li{
    text-decoration: none;
    list-style: none;
    padding: 1.1rem;
    
}
nav a,
nav a:visited{
    color:black;
}
nav a:hover,nav a:focus{
    color: #485e7c;
    box-shadow:0 5px -5px 10px blue;
}

footer{
    position: sticky;
    bottom: 0;
    background-color: #485e7c89;
    text-align: center;
}